@model Order
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header row">
            <div class="col-md-6">
                @Model.FullName  -  @Model.CreatedAt.ToString("MMM dd, yyyy - hh:mm")
            </div>
            <div class="col-md-6">
                <form method="post" asp-action="changestatus">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="row align-items-end">
                        <div class="form-group col-md-6">
                            <label>Status</label>
                            <select asp-for="@Model.Status" class="form-control" asp-items="@new  SelectList(Enum.GetNames(typeof(Pustok_MVC.Models.Enums.OrderStatus)))">
                            </select>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-sm">Set Status</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">Total count: @Model.OrderItems.Sum(x => x.Count)</p>
            <p class="card-text">Total amount: @(Model.OrderItems.Sum(x => x.Count * (x.DiscountPercent > 0 ? x.SalePrice * (100 - x.DiscountPercent) / 100 : x.SalePrice)).ToString("0.00"))</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Book Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Price</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems)
                    {
                        <tr>
                            <td>@item.Book?.Name</td>
                            <td>@item.Book?.Author?.Fullname</td>
                            <td>@((item.DiscountPercent > 0 ? item.SalePrice * (100 - item.DiscountPercent) / 100 : item.SalePrice).ToString("0.00"))</td>
                            <td>@item.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>